<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Apollo Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/theme/favicon.svg" /> -->
        <!-- Template CSS -->
        <link href="/admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
       
        
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="/admin/dashboard" class="brand-wrap">
                    <h4>Apollo <br> Furniture.</h4>
                    <!-- <img src="/admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" /> -->

                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    
                        <li class="menu-item has-submenu"> 
                            <a class="menu-link" href="/admin/productList">
                               <i class="icon material-icons md-shopping_bag"></i>
                               <span class="text"> Products</span>
                           </a> 
                       </li>

                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text"> Category</span>
                        </a>


                        <a class="menu-link" href="/admin/users">
                            <i class="icon material-icons md-person"></i>
                            <span class="text"> Users</span>
                        </a>

                        <a class="menu-link" href="/admin/orders">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>

                        <a class="menu-link" href="/admin/coupon">
                            <i class="bi bi-ticket-perforated-fill">
                                <span class="text">Coupon</span></i>
                            
                        </a>

                        <a class="menu-link" href="/admin/offer">
                            <i class="bi bi-percent" style="font-size: 15px;">
                                <span class="text">Offer</span></i>
                            
                        </a>
                        
            </nav>
        </aside>
    <main class="main-wrap">
        
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        
                            <span id="addmessage"></span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form action="" method="post" enctype="multipart/form-data" onsubmit="return addProduct()">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product Name</label>
                                        <input id="namein" type="text" placeholder="Type here" class="form-control" name="productname">
                                        <span id="nameError" class="error"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea id="descin" placeholder="Type here" class="form-control" rows="4" name="description" value="enter description"></textarea>
                                        <span id="descError" class="error"></span>
                                    </div>
                                    
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Brand</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        
                                        <input type="text" id='brand' placeholder="Type here" class="form-control" name="brand">
                                        <span id="brandError" class="error"></span>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->





                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in INR</label>
                                        <input id="pricein" type="text" placeholder="Enter Amount" class="form-control" name="price">
                                        <span id="priceError" class="error"></span>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->

                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Quantity</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        
                                        <input type="text" id='qtyin' placeholder="Type here" class="form-control" name="quantity">
                                        <span id="qtyError" class="error"></span>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->



                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Category</h6>
                                </div>

                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <!-- <label for="categoryDropdown">Select Category:</label> -->
                                        <select class="form-select" id="categoryDropdown" name="category">
                                            <option value="">Select a category...</option> <!-- Default option -->
                                            <% for(let i=0; i<category.length; i++) { %>
                                                <% if(category[i].is_Listed === true) { %>
                                                    <option value="<%= category[i].name %>"><%= category[i].name %></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                        <span id="ctgError" class="error"></span>
                                    </div>
                                </div>
                                
                                

                                <!-- <div class="col-md-9">
                                    <div class="mb-4">
                                        <% for(let i=0;i<category.length;i++){ %>
                                           <% if(category[i].is_Listed===true){ %>
                                            <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                                <input class="form-check-input radio-cls" id='ctgin' name="category" type="radio" value="<%= category[i].name %>">
                                                <span class="form-check-label"> <%= category[i].name %> </span>
                                                
                                            </label>
                                            <% } %>
                                       <% } %>
                                        
                                       <span id="ctgError" class="error"></span>
                                    </div>
                                </div> col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>6. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" multiple name="image" id="imageInput" required>
                                    </div>
                                    <div id="imagePreview">
                                        
                                    </div>
                                    <button id="cropButton" type="button" style="display: none;">Crop Image</button>
                                    <button id="cancelButton" type="button" style="display: none;">Cancel</button>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                            
                            <div id="btnadd">
                                <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 id="croppedHeader" style="display: none;">Cropped Images</h3>
                        <div id="croppedImageContainer">
                            
                        </div>
                    </div>

                    
            </div>
            </div>
        </section> <!-- content-main end// -->
        <!-- <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer> -->
    </main>

   


    <script>


        //image preview


        document.addEventListener("DOMContentLoaded", function () {
    const imageInput = document.getElementById("imageInput");
    const imagePreview = document.getElementById("imagePreview");
    const cropButton = document.getElementById("cropButton");
    const croppedImageContainer =document.getElementById('croppedImageContainer')
    let cropper

    imageInput.addEventListener("change", function () {
       
        imagePreview.innerHTML = "";

        for (let i = 0; i < imageInput.files.length; i++) {
            const file = imageInput.files[i];
            console.log('filesas:',file);
            
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();
                console.log('reder:',reader);
                reader.onload = function (event) {
                    
                    const imgElement = document.createElement("img");
                    imgElement.classList.add("preview-image");
                    imgElement.src = event.target.result;
                    imgElement.style.maxWidth = "150px"; 
                    imgElement.style.maxHeight = "150px";
                    imgElement.style.marginRight = "10px"

                    imgElement.setAttribute("data-index", i+1);

                    imgElement.addEventListener("click", function() {
                                selectImageForCropping(i+1,imgElement);
                            });

                    
                    imagePreview.appendChild(imgElement);
                };

                
                reader.readAsDataURL(file);
            }else {
                alert("Please select only image files.");
                imageInput.value = "";
                imagePreview.innerHTML = "";
                return;
            }
        }
    });







            function dataURLtoBlob(dataURL) {
    const parts = dataURL.split(';base64,');
    const contentType = parts[0].split(':')[1];
    const raw = window.atob(parts[1]);
    const rawLength = raw.length;
    const uInt8Array = new Uint8Array(rawLength);
    for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
    }
    return new Blob([uInt8Array], { type: contentType });
}



    let currentImgElement;
    let croppedImageUrl 
    

    function selectImageForCropping(index, imgElement) {
    // Example: Highlight the selected image
    const cropButton = document.getElementById('cropButton');
    const cancelButton = document.getElementById('cancelButton')
    cropButton.style.display = 'block';
    cancelButton.style.display = 'block'

    if (cropper) {
        cropper.destroy();
    }

    cropper = new Cropper(imgElement, {
        aspectRatio: 1,
        viewMode: 1

    });
    currentImgElement = imgElement;

    cropButton.addEventListener("click", function () {
        const croppedCanvas = cropper.getCroppedCanvas();
        croppedImageUrl = croppedCanvas.toDataURL();
        const blob = dataURLtoBlob(croppedImageUrl)

        const file = new File([blob], 'cropped_image_'+ (croppedImageFilesArray.length) + '.png')
    
        croppedImageFilesArray.push(file)
        

        console.log('ary:',croppedImageFilesArray);
        
        if(currentImgElement){
            currentImgElement.src = croppedImageUrl;
        }
        cropper.destroy();
        
    });

    cancelButton.addEventListener("click",function(){
        cropper.destroy()
    })

    
}




});

var croppedImageFilesArray = [];
// let inputElement
        function addProduct(){
           
            event.preventDefault();

        const name = document.getElementById('namein').value.trim()
        const brand = document.getElementById('brand').value.trim()
        const price = document.getElementById('pricein').value.trim()
        const qty = document.getElementById('qtyin').value.trim()
        const description = document.getElementById('descin').value.trim()
        const categoryDropdown = document.getElementById('categoryDropdown').value.trim()

        document.getElementById('nameError').innerText = ""
        document.getElementById('priceError').innerText = ""
        document.getElementById('qtyError').innerText = ""
        document.getElementById('ctgError').innerText = ""
        document.getElementById('brandError').innerText = ""

        var isValid = true


        const nameRegex = /^[a-zA-Z][a-zA-Z0-9 ]*$/;

        if(!nameRegex.test(name)){
            document.getElementById('nameError').innerText = "Please enter name in correct format!"
            isValid = false
        }

        const priceRegex = /^[0-9]+$/
        if(!priceRegex.test(price)){
            document.getElementById('priceError').innerText = "price field must be a number!"
            isValid = false
        }

        const qtyRegex = /^[0-9]+$/
        if(!qtyRegex.test(qty)){
            document.getElementById('qtyError').innerText = "Quantity field must be a number!"
            isValid = false
        }

        if(description===""){
            document.getElementById('descError').innerText = "Description should not empty!"
            isValid = false
        }

        var alphabeticRegex = /^[a-zA-Z]+$/;
        if(!alphabeticRegex.test(brand)){
            document.getElementById('brandError').innerText = 'Brand should only contain alphabets!'
            isValid = false
        }


        

        if (categoryDropdown === "") {
        // No category is selected, display an error message or handle validation
        document.getElementById('ctgError').textContent = 'Please select a category';
        isValid =  false;
    }


    
        if (!isValid) {
                return false;
            }else{
            Swal.fire({
            title: 'Success!',
            text: 'Product added successfully',
             icon: 'success',
            confirmButtonText: 'OK',
            })
            .then((result) => {
    if (result.isConfirmed) {
        const form = document.querySelector('form');
        let formData = new FormData(form);
        console.log('form:',formData);

    //     if(croppedImageFilesArray.length>0){

            


    //         croppedImageFilesArray.forEach((file,index)=>{

    //             const inputElement = document.createElement('input');
    // inputElement.type = 'file';
    // inputElement.name = 'croppedImage_' + (index + 1);
    
    // const fileList = new DataTransfer();
    // fileList.items.add(file);
    
    // inputElement.files = fileList.files;
    
    
            
    //         form.appendChild(inputElement); 
        
    //         formData.append('croppedImage_' + (index + 1), file);
    //             // console.log('zzz:',file);
    //         })

    //         croppedImageFilesArray = [];
            
    //     }


    //     formData = new FormData(form);
        
                
        
        fetch("/admin/addProducts", {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
        window.location.href = '/admin/addProducts'          // Additional logic based on server response
        })
        .catch(error => console.error('Error:', error));
    }

    
})




}

            }


    </script>


    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="/public/cropperjs/cropper.min.js"></script>

</body>

</html>