<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/adminlogin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/adminlogin/css/font-awesome.min.css" rel="stylesheet">
    <link href="/adminlogin/css/style.css" rel="stylesheet">

    <title>AF AdminLogin</title>
  </head>
  <body>
    <section class="form-01-main">
      <div class="form-cover">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-sub-main">
              <div class="_main_head_as">
                <a href="#">
                  <img src="/adminlogin/images/vector.png">
                </a>
              </div>
              <form action="/admin/" method="post"> 
              <div class="form-group">
                <h5>Apollo Furniture</h5>
                  <input id="email" name="email" class="form-control _ge_de_ol" type="text" placeholder="Enter Email" required="" aria-required="true">
              </div>

              <div class="form-group">  
                                                         
                <input id="password" type="password" class="form-control" name="password" placeholder="********" required="required">
                <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
              </div>

              

              <div class="form-group">
                <div class="btn_uy">
                  <button id="logbtn"><span>Login</span></button>
                </form>  
                </div>

                <div class="form-group">
                    <div class="check_box_main">
                      <a href="#" class="pas-text">Forgot Password</a>
                    </div>
                  </div>
                <div id="loginwrnmsg">
                    <%
                    if(typeof message !== 'undefined'){
                        %>
                        <p style="color:rgb(240, 15, 8)"><%=message%></p>
                        <%
                    }
                    %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>