.icon-hover:hover {
    border-color: #3b5d50 !important;
    background-color: white !important;
    color: #3b5d50 !important;
  }
  
  .icon-hover:hover i {
    color: #3b5d50 !important;
  }
 #wishlistbtn{
  margin-left: 80%;
 }.highlighted {
  border: 2px solid rgb(8, 73, 18); /* Adjust border color and width as needed */
}