
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="css/tiny-slider.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
    <link href="css/log.css" rel="stylesheet">

		<title>Apollo Furniture </title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Apollo Furniture<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<li><a class="nav-link" href="/about">About us</a></li>
						<li><a class="nav-link" href="/services">Services</a></li>
						<li><a class="nav-link" href="/blog">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/userProf"><img src="images/user.svg"></a></li>
						<li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
            <li><a class="nav-link" href="/wishlist"><i class="fa-regular fa-heart" id="wishicon"></i></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

    <div id="loginwrnmsg">
      <%
      if(typeof message !== 'undefined'){
          %>
          <p style="color:rgb(125, 6, 2)"><%=message%></p>
          <%
      }
      %>

<div class="login">
  
  <form class="login-form" action="/login" method="post" onsubmit="return validateForm()">
    <span class="fs-4 fw-bold text-primary">Sign In</span>
    <div class="input-group input-group-lg">
      
       <input type="email" class="form-control" id="user-name" placeholder="Email" name="email" tabindex="1"/>
       
    </div>
    <span id="emailError" class="error"></span>
    <div class="input-group input-group-lg">
       <input type="password" class="form-control" id="password" placeholder="Password" name="password" required  tabindex="2" />
       
    </div>
    <span id="passwordError" class="error"></span>
    <input type="submit" id="login" class="btn btn-primary fa-md" value="Sign in" tabindex="3"/> 
    <div class="login-bar"> 
      <br>   
      <a href="/forgotpass" class="pull-right">Forgotten your password?</a>
    </div>  
  </form>
  
  <!--<div class="social">
    <div class="social-inner">
      <a class="fa fa-2x fa-google btn btn-danger"></a>
      <a class="fa fa-2x fa-twitter btn btn-info"></a>
      <a class="fa fa-2x fa-facebook btn btn-primary"></a>
    </div>
  </div>-->
  
  <div class="register">
    <div class="register-inner">
      <a href="/register" class="btn btn-success">Create an Account</a>    
    </div>  
  </div>
</div>


<script>

function validateForm(){
   
   
   let email=document.getElementById('user-name').value.toLowerCase()
   let password=document.getElementById('password').value


const emailOne = /^[^\s@]+@/;
const emailTwo=/[a-zA-Z\d-]+\.(com|net|org)$/
const combinedRegex=new RegExp(emailOne.source+emailTwo.source)

if (!combinedRegex.test(email)){
    document.getElementById('emailError').innerHTML='  Please enter a valid E-Mail address'
    return false
}else{
    document.getElementById('emailError').innerHTML=''
}

if(password.includes(' ')){
    document.getElementById('passwordError').innerHTML='Password should not contain spaces'
    return false
}else{
    document.getElementById('passwordError').innerHTML=''
}




 return true
}

</script>


<%- include('../partials/footer') -%>